
.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 600px;
  background-color: rgb(134, 134, 176);
  margin-bottom: 10px;
}


.selected {
 background-color: rgb(206, 25, 25);
  padding: 10px;
  border-radius: 5px;
}